.frase-container {
    width: 60%;
    padding: 20px;
    height: auto;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.frase-dark-text {
    font-size: 22px;
    color: #FAFAFA;
}

.frase-light-text {
    font-size: 22px;
    color: #141414;
}

.frase-title {
    font-size: 28px;
    margin-bottom: 10px;
}

.bulb {
    width: 40px;
}