.task-light {
    width: 90%;
    min-height: auto;
    background-color: #FFFFFF;
    color: #141414;
    border-radius: 20px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.task-dark {
    width: 90%;
    min-height: 120px;
    background-color: #3D3D3D;
    color: #FAFAFA;
    border-radius: 20px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.task-title {
    width: 100%;
    font-size: 28px;
    margin-top: 20px;
    overflow-wrap: break-word;
}

.task-text {
    width: 100%;
    overflow-wrap: break-word;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 15px;
}

.task-left {
    width: 72%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.task-right {
    width: 28%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

#btn-options {
    padding: 0px;
    margin: 0px;
    margin-top: 25px;
    margin-right: 12px;
    cursor: pointer;
    outline: none;
    border: 0px;
    background-color: transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-extend {
    color: inherit;
    font-size: 20px;
    padding: 0px;
    cursor: pointer;
    outline: none;
    border: 0px;
    background-color: transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.extend-descr-text {
    width: max-content;
    margin-right: 6px;
    text-align: start;
    font-size: 16px;
}

.options-img {
    width: 6px;
    transition-duration: .2s;
}

.btn-next {
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    outline: none;
    border: 0px;
    background-color: transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition-duration: .2s;
}.btn-next:hover {
    transform: translateY(-0.25em);
}

.btn-previous {
    padding: 0px;
    margin: 0px;
    margin-right: 4px;
    cursor: pointer;
    outline: none;
    border: 0px;
    background-color: transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition-duration: .2s;
}.btn-previous:hover {
    transform: translateY(-0.25em);
}

.btn-restart {
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    outline: none;
    border: 0px;
    background-color: transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition-duration: .2s;
}.btn-restart:hover {
    transform: translateY(-0.25em);
}

.btn-arrow-img {
    width: 26px;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

#btn-delete {
    z-index: 100;
    padding: 11px;
    position: absolute;
    bottom: 125%;
    left: 50%;
    margin-left: -86px;
    margin-bottom: -46px;
    width: auto;
    height: auto;
    outline: none;
    border: 0px;
    border-radius: 6px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 16px;
    transition-duration: .1s;
} #btn-delete:hover {
    transform:scale(105%);
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 30px;
}

::-webkit-scrollbar-thumb {
    border: 12px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #959595;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
	visibility: hidden;
}

@media only screen and (max-width: 1019px) {
    .btn-arrow-img {
        width: 22px;
    }

    ::-webkit-scrollbar {
        background-color: transparent;
        width: 15px;
    }
    
    ::-webkit-scrollbar-thumb {
        border: 5px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        border-radius: 9999px;
        background-color: #959595;
    }

    .task-light, .task-dark {
        margin-bottom: 20px;
        margin-top: 20px;
    }
}